<ion-header>
  <ion-navbar color="dark">
    <ion-title>Leagues</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block *ngIf="! currentUser" (click)="login()">Log In</button>

  <div *ngIf="currentUser">
    <ion-list>
      <ion-item *ngFor="let league of leagues | async" (click)="goToLeague(league)">
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == true && (getScore(league.id, currentUser.id) | async) > (getScore(league.id, league.users[1]) | async)" item-left name="thumbs-up"></ion-icon>
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == true && (getScore(league.id, currentUser.id) | async) < (getScore(league.id, league.users[1]) | async)" item-left name="thumbs-down"></ion-icon>
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == true && (getScore(league.id, currentUser.id) | async) == (getScore(league.id, league.users[1]) | async)" item-left name="help-circle"></ion-icon>
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == false && (getScore(league.id, currentUser.id) | async) > (getScore(league.id, league.users[0]) | async)" item-left name="thumbs-up"></ion-icon>
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == false && (getScore(league.id, currentUser.id) | async) < (getScore(league.id, league.users[0]) | async)" item-left name="thumbs-down"></ion-icon>
        <ion-icon *ngIf="(isCreator(league.id, currentUser.id) | async) == false && (getScore(league.id, currentUser.id) | async) == (getScore(league.id, league.users[0]) | async)" item-left name="help-circle"></ion-icon>

        <div>
          <h2>{{ league.name }}</h2>
          <p>{{ league.users.join(" &amp; ") }}</p>
        </div>

        <span item-right>{{ (getScore(league.id, currentUser.id) | async) }}</span>
      </ion-item>
    </ion-list>

    <button ion-button block (click) = "newLeague()">Create new league</button>
  </div>
</ion-content>
