page-home {

.players{
	font-size: 10px;
}

#add_button{
	background-color: 	#31c356;
}

#login{
	background-color: 	#31c356;
}

ion-item.item{
	background-color: #262626;
	color: #fff;
}

ion-icon{
	font-size: 10px;
}

.score{
	font-size: 12px;
}

ion-toolbar{
	background-color: #31c356;
	text-align: center;
}

#create{
	background-color: #31c356;
	text-align: center;
	width: 100%;
	color: #fff;
	margin: 0px;
}


}
