<ion-header>

  <ion-navbar color="dark">
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="query"
    (ionInput)="search()"
    (debounce)="5000"
    placeholder="Ex. Guns 'N Roses">
  </ion-searchbar>

  <ion-list *ngIf="results && results.tracks" id="tracks" class="results">
    <ion-item *ngFor="let track of results.tracks.items" >
      <ion-thumbnail item-left>
        <img src="{{ track.album.images[0].url }}"
             alt="album artwork for {{ track.name }}">
      </ion-thumbnail>
      <h2 text-wrap>{{ track.name }}</h2>
      <p>
        by <strong>{{ track.album.artists[0].name }}</strong>
        on <em>{{ track.album.name }}</em>
      </p>

      <button ion-button color="secondary" (click)="addSong(user, league, track)">Add to Playlist</button> <button ion-button color="secondary" (click)="songPick(track)">Preview</button>
    </ion-item>
  </ion-list>

</ion-content>

  <ion-footer>

    <ion-grid>

      <ion-row>

        <ion-col width="15" text-right>
        </ion-col>

        <ion-col width="70" text-center>
          <button ion-button full color="secondary" (click)="pause()"><ion-icon name="pause"></ion-icon></button>
          <!--<button *ngIf="currentTrack.playing" (click)="pauseTrack()" color="light" clear ion-button icon-only><ion-icon name="pause-outline"></ion-icon></button>&ndash;&gt;-->
        </ion-col>


        <ion-col width="15" text-left>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-footer>



