page-analytics {

.analytics {
  background-color: white;
}

table {
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}

td {
  padding: 0.5rem;
  text-align: center;
}

th {
  padding: 1em;
  background-color: rgba(102, 153, 255, 1);
  color: white;
  padding: 0.5rem;
  text-align: center;
}

table th:nth-child(odd) {
	background-color: rgba(0, 32, 128, 1);
}

#header2 {
	background-color: rgba(102, 153, 255, 1);
}

table tr:nth-child(even) {            
    background-color: rgba(102, 153, 255, 0.2);     
}
 
table tr:nth-child(odd) {            
	background-color:rgba(102, 153, 255, 0.1);      
}


}
