<!--
   Generated template for the Analytics page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar color="dark">
      <ion-title>analytics</ion-title>
   </ion-navbar>
   <ion-toolbar color="dark">
      <ion-segment [(ngModel)]="data_flag">
      <ion-segment-button value="user" (click)="redraw(user, league, 'user')">
         {{user.id}}
      </ion-segment-button>
      <ion-segment-button value="opponent" (click)="redraw(opponent, league, 'opponent')">
         {{opponent.id}}
      </ion-segment-button>
      </ion-segment>
   </ion-toolbar>
</ion-header>
<ion-content no-padding>
   <div class="analytics">
      <div class="row">
         <div class="col-md-6">
            <div style="display: block;">
               <canvas baseChart width="400" height="400"
               [datasets]="lineChartData"
               [labels]="lineChartLabels"
               [options]="lineChartOptions"
               [colors]="lineChartColors"
               [legend]="lineChartLegend"
               [chartType]="lineChartType"></canvas>
            </div>
         </div>
      </div>
      <ion-grid>
         <ion-row>
            <ion-col>
               <strong>Popularity Changes By Day</strong>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col *ngFor="let label of lineChartLabels"><strong>{{label}}</strong>
            </ion-col>
         </ion-row>
         <!--<ion-row class="data_row" *ngFor="let d of tableData">
            <ion-col class="data_col" *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</ion-col>
         </ion-row>-->
         <ion-row class="row_1">
            <ion-col *ngFor="let label of lineChartLabels; let j=index">{{tableData[0] && tableData[0].data[j]}}</ion-col>
         </ion-row>
         <ion-row class="row_2">
            <ion-col *ngFor="let label of lineChartLabels; let j=index">{{tableData[1] && tableData[1].data[j]}}</ion-col>
         </ion-row>
          <ion-row class="row_3">
            <ion-col *ngFor="let label of lineChartLabels; let j=index">{{tableData[2] && tableData[2].data[j]}}</ion-col>
         </ion-row>
      </ion-grid>
   </div>
</ion-content>